{{#partial "content"}}
    <p>Title:</p>
    <p>{{ post.title }}</p>
    <h5>Description:</h5>
    <p> {{ post.description }}</p>
    <h5>Created At:</h5>
    <p> {{ post.created_date }}</p>

    <a href="/posts/{{post.id}}/update">Edit this post?</a> || <a href="/posts/{{post.id}}/delete">Delete this post?</a>
{{/partial}}

{{> layout.hbs}}